

#daftar{
	color: white;
	width: 1000px;
	top: 25px;
	left: 350px;
	height: 50px;
	position: relative;
	background-color: #00631A;
	border: 5px solid black;
	border-radius: 10px;
}


.nama{
	position: absolute;
	left: 10px;
	top: 525px;
	color: black;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

.inputnama{
	position: absolute;
	border: 2px solid black;
	border-radius: 5px; 
	width: 353.99306px; 
	height: 33.99306px;
	top: 525px;
	left: 270px;
	font-size: 16px;
}

.email{
	position: absolute;
	left: 10px;
	top: 555px;
	color: black;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

.inputemail{
	position: absolute;
	border: 2px solid black;
	border-radius: 5px; 
	width: 353.99306px; 
	height: 33.99306px;
	top: 553px;
	left: 270px;
	font-size: 18px;
}

.alamat{
	position: absolute;
	left: 10px;
	top: 580px;
	color: black;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}

.inputala{
	position: absolute;
	top: 583px;
	left: 270px;
	width: 353.99306px;
	height: 50px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 16px;
}

.telp{
	position: absolute;
	left: 10px;
	top: 465px;
	color: black;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}

.inputtel{
	position: absolute;
	border: 2px solid black;
	border-radius: 5px; 
	width: 353.99306px; 
	height: 33.99306px;
	top: 463px;
	left: 270px;
	font-size: 16px;
}

.jk{
	position: absolute;
	left: 10px;
	top: 530px;
	color: black;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}

.pilihan{
	position: absolute;
	height: 20px;
	font-size: 18px;
    width: 400px;
    left: 170px;
    top: 535px;
}

.fotop{
	width: 200px;
	height: 180px;
	border: 3px solid black;
	border-radius: 10px;
	position: absolute;
	color: black;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	top: 10px;
	left: 715px;
	margin-top: 5px;
}

.foto1{
	position: relative;
	top: 60px;
}

.pilihf1{
	margin-left: 5px;
	margin-top: 120px;
}

.btsubmit{
	position: absolute;
	border: 2px solid #00631A;
	border-radius: 10px;
	background-color: #00631A;
	color: white;
	font-size: 20px;
	font-weight: bold;
    width: 140px;
    height: 50px;
    top: 220px;
    left: 620px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 213px;
}

.btbatal{
	position: absolute;
	border: 2px solid #00631A;
	border-radius: 10px;
	background-color: white;
	color: #00631A;
	font-size: 20px;
	font-weight: bold;
	top: 220px;
	left: 460px;
    width: 140px;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 213px;
}